.special
	.section_in 
		.special_list_main
			ul.special_list
				-
					var list = [
						{
							label: 'Длина наибольшая',
							val: '5.26 м'
						},
						{
							label: 'Длина габартиная',
							val: '5.26 м'
						},
						{
							label: 'Ширина наибольшая',
							val: '1.84 м'
						},
						{
							label: 'Ширина габаритная',
							val: '1.84 м'
						},
						{
							label: 'Высота борта на миделе',
							val: '0.75 м'
						},
						{
							label: 'Минимальная высота надводного борта',
							val: '0.44 м'
						},
						{
							label: 'Водоизмещение полное',
							val: '1275 кг'
						},
						{
							label: 'Масса судна',
							val: '486 кг'
						},
						{
							label: 'Килеватость',
							val: '12 град'
						},
						{
							label: 'Максимальная мощность двигателя',
							val: '51/70 кВт/л.с.'
						},
						{
							label: 'Максимальный вес двигателя',
							val: '120 кг'
						},
						{
							label: 'Пассажировместимость',
							val: '4 чел'
						},
						{
							label: 'Грузоподъемность',
							val: '450 кг'
						},
						{
							label: 'Запас топлива',
							val: '60 л'
						}
					]
				each item in list 
					li 
						p=item.label 
						span=item.val