.special
	.section_in 
		.special_list_main
			.section_title 
				h2 Стандартная комплектация
			ul.special_list
				-
					var list = [
						{
							label: 'Корпус',
							val: 'Сварной, с блоками плавучести с усиленным продольным набором'
						},
						{
							label: 'Пайолы',
							val: 'Влагостойкая фанера с полиуриетановым покрытием в цвет корпуса'
						},
						{
							label: 'Полимерная краска корпуса',
							val: 'Ral (на выбор)'
						},
						{
							label: 'Носовые леера (высокие)',
							val: 'Есть'
						},
						{
							label: 'Площадка для крепления датчика эхолота',
							val: 'Есть'
						}
					]
				each item in list 
					li 
						p=item.label 
						span=item.val