section.partners 
	.section_in 
		.partners_main 
			.section_title
				h4 Наши партнёры
			ul.partners_grid 
				-for(i = 0; i < 5;  i++)
					li.partners_item 
						img(src=`i/home/partners_${i}.jpg`, alt="")