
 
.big_menu_main
	nav.big_menu_nav
		ul 
			li.big_parent_item.big_nav_item
				.big_nav_item--in
					a(href="#")
						p название модели
						.big_menu_img 
							img(src="i/global/boat.png", alt="")
				include submenulast
			li.big_parent_item.big_nav_item 
				.big_nav_item--in
					a(href="#")
						p название модели
						.big_menu_img 
							img(src="i/global/boat.png", alt="")
				include submenulast
			li.big_nav_item 
				a(href="#")
					p название модели
					.big_menu_img 
						img(src="i/global/boat.png", alt="")