.big_menu_two 
	nav.big_two_nav.custom_scroll
		ul
			li 
				a(href="#") 
					p Название Лодки
			li 
				a(href="#") 
					p Название Лодки
			li 
				a(href="#") 
					p Название Лодки
	.big_last_img 
		img(src="i/global/nav.jpg", alt="")