
// Сброс стилей input
@mixin app {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background-color: transparent;
	font-family: $font_1;
	font-size: $font_size_base;
}

// Input end


// Flex styles

@mixin flex-center {
	justify-content: center;
	display: flex;
	align-items: center;
}

@mixin flex-col {
	flex-direction: column;
}

@mixin flex-start {
	justify-content: flex-start;
	display: flex;
	align-items: center;
}

@mixin flex-space {
	justify-content: space-between;
	display: flex;
	align-items: center;
}

@mixin flex-end {
	justify-content: flex-end;
	display: flex;
	align-items: center;
}

// End flex styles

// Style default btn

@mixin link {
	position: relative;
	&:before {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		content: '';
		border-bottom: .2rem solid $color_text_base;
		transition: all .3s ease;
		pointer-events: none;
	}
	&:hover {
		color: $color_text_base;
		&:before {
			width: 100%;
		}
	}
	&.active {
		color: $color_text_base;
		&:before {
			width: 100%;
		}
	}
}

@mixin input {
	@include app;
	border: .1rem solid $gray2;
	font-size: 1.8rem;
	font-family: $font_1;
	padding: 2.1rem 2.2rem;
	width: 100%;
	@include bp($point_2) {
		font-size: 1.6rem;
		padding: 1.8rem 2rem;
	}
}

@mixin check {
	input {
		display: none;
		&:checked + label:after {
			opacity: 1;
			visibility: visible;
			transform: scale(1);
		}
	}
	label {
		position: relative;
		padding-left: 5rem;
		display: block;
		font-size: 1.6rem;
		cursor: pointer;
		@include bp($point_2) {
			padding-left: 0;
			font-size: 1.2rem;
		}
		a {
			border-bottom: .1rem solid $dark;
			transition: all .3s ease;
			&:hover {
				border-color: transparent;
			}
		}
		&:before {
			width: 3rem;
			height: 3rem;
			border: .1rem solid $gray2;
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			@include bp($point_2) {
				display: none;
			}
		}
		&:after {
			content: '';
			position: absolute;
			top: .8rem;
			left: .8rem;
			width: 1.4rem;
			height: 1.4rem;
			background-image: url('../../i/global/close.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			opacity: 0;
			visibility: hidden;
			transition: all .3s ease;
			transform: scale(0);
			@include bp($point_2) {
				display: none;
			}
		}
	}
}